body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: fixed;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px hsl(200, 96%, 52%);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid aquamarine;
    border-radius: 4px;
}

button {
    width: 100px;
    padding: 10px;
    background-color:hsl(200, 65%, 75%);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: cornflowerblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid white;
}

li:last-child {
    border-bottom: none;
}